@import 'variables';

:host {
  display: block;
  width: 500px;
  max-width: 80vw;
  margin-bottom: $normal-spacing;
  padding: $small-spacing;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;

  &:hover {
    transform: scale(1.2);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.headline-row {
  display: flex;
  align-items: center;
  margin-bottom: $small-spacing;
}

.date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  margin-right: $small-spacing;
  padding: 0.5rem;
  box-sizing: border-box;
  line-height: 1.5;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: $app-gradient;
}

.date_month,
.date_day {
  font-size: 1.5rem;
}

.location {
  &::before {
    content: '-';
  }
}

.info-box {
  overflow: hidden;

  h3 {
    margin: 0 0 $small-spacing;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sub-row {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $small-spacing;
    line-height: 1.5;
    margin: 0;
    max-height: 3em;
  }
}
