@import 'variables';

:host {
  display: block;
  width: 50vw;
  padding: $normal-spacing;
  border-radius: $small-spacing;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
}

h2 {
  margin: 0 0 $normal-spacing;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0 0 $normal-spacing;
  padding: 0;
}

li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $normal-spacing;

  p {
    position: absolute;
    bottom: $small-spacing;
    margin: 0;
    padding-left: $small-spacing;
    font-size: 0.75rem;
  }

  input,
  textarea {
    padding: 0.25rem 0.5rem;
    border: 2px solid $app-color-green;
    border-radius: 4px;

    &:focus {
      outline-color: $app-color-purple;
    }
  }

  label {
    line-height: 1.5;
    text-transform: uppercase;
  }
}

button {
  display: inline-block;
  padding: 0.75rem $normal-spacing;
  margin: 0 $small-spacing 0 0;
  background: $app-color-green;
  color: #000;
  font-size: $small-spacing;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 4px;

  &:disabled {
    pointer-events: none;
    filter: grayscale(0.7);
  }

  &:hover,
  &:focus {
    background: $app-color-purple;
    color: #fff;
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}

.error {
  color: red;
}

@media screen and (max-width: 959px) {
  :host {
    width: 80vw;
    padding: $small-spacing;
  }
}
